.list-item {
  position: relative;
  width: 300px;
  height: 520px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.sliding-pane {
  cursor: -webkit-grab;
  background-color: #FFFFFF;
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  height: 520px;
  width: 100%;
  display: flex;
  border-radius: 0.3rem;
  font-size: 1.25em;
  font-weight: 600;
}

.sliding-pane:active {
  cursor: -webkit-grabbing;
}

.background {
  align-self: stretch;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.MuiSnackbarContent-root {
  min-width: 0px !important;
}

.mainViews {
  margin-top: 70px;
}